main {
    #anchor {
        /* width: 100vw; */
        anchor-name: --anchor-name;
        /* transform: translateX(-10vw); */
        /* filter:sepia(50%); */
    }

    #anchored-element {

        position: absolute;
        position-anchor: --anchor-name;
        /* top: anchor(top); */
        justify-self: anchor-center;
        align-self: anchor-center;
    }

    section {
        h2 {
            justify-self: left;
        }
    }

    article {
        /* display: grid;
        flex-wrap: wrap;
        row-gap: 1.25em; */
        overflow: hidden;
        padding: 0 0 2.5em;
        border-radius: 0.5em;
        background-color: var(--secondary-bg);

        p {
            padding: 0.75em 10% 1.75em;
            /* background-color: #98d2e9; */
        }

        h3 {
            /* justify-self: center; */
            font-size: 1.25em;
            font-weight: bold;
            padding: 1em 10% 0;
            /* text-align: center; */
            /* color: white; */
            /* background-color: var(--background-text-2); */
        }

        a {
            display: block;
            width: fit-content;
            color: white;
            background-color: var(--background-text);
            margin: 0 auto;
        }
    }


    @media screen and (541px <=width) {
        section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        article {
            h3 {
                font-size: 1.25em;
            }
        }

    }

    @media screen and (1083px <=width) {
        section {
            grid-template-columns: repeat(3, 1fr);
            gap: 3em 4em;
        }

        article {
            /* padding: 1.5em 2em; */

            h3 {
                font-size: 1.5em;
            }
        }
    }
}