main {
    button:not(:last-of-type) {
        margin-bottom: -2em;
    }

    @media screen and (541px <=width) {
        section {
            &:nth-of-type(2) {
                display: flex;
                column-gap: 0;
                justify-content: center;
            }
        }

        button {
            flex-basis: 50%;
        }
    }

    @media screen and (1083px <=width) {
        button:not(:last-of-type) {
            margin-bottom: 0;
        }

        section {
            &:nth-of-type(1) {
                grid-template-columns: repeat(3, 1fr);
                column-gap: 4em;
            }

            &:nth-of-type(2) {
                display: grid;
                grid-template: repeat(4, min-content) / repeat(3, 1fr);
                gap: 2em 0;
                grid-template-areas:
                    "h2 h2 h2"
                    "button1 button2 button3"
                    "p1 . p2"
                    "a1 . a2";

                p {
                    &:nth-of-type(2) {
                        grid-area: p2;
                    }
                }

                a {
                    &:nth-of-type(1) {
                        grid-area: a1;
                    }

                    &:nth-of-type(2) {
                        grid-area: a2;
                    }
                }
            }
        }
    }
}