header {
    position: sticky;
    top: 0;
    padding: 1em 10vw;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0 1em;
    z-index: 2;
    background-color: var(--secondary-bg);

    [href="#main"] {
        display: none;
    }

    >[href="./"] {
        /* font-family: "Orbitron", sans-serif; */
        font-size: 1.5em;
        line-height: initial;
        /* transform: translateY(0.1em); */
        margin-right: auto;
    }
    >img{
        width: 1.5em;
    }

    /* [hreflang] {
        font-size: 1.25em;
        font-weight: 600;
        line-height: initial;
        transform: translateY(0.075em);
    } */

    button {
        width: 1em;

        path {
            stroke: var(--text);
            stroke-width: 3em;
        }
    }

    >details {
        width: 1.4em;

        summary {
            display: grid;

            &::-webkit-details-marker {
                display: none;
            }
        }

        /* svg {
            padding: 1em;
        } */

        path {
            &:nth-of-type(1) {
                fill: var(--svg-primary-color);
            }

            &:nth-of-type(2) {
                fill: var(--svg-primary-color);
            }

            &:nth-of-type(3) {
                fill: var(--svg-secondary-color);
            }
        }
    }

    nav[popover] {
        display: flex;
        flex-direction: column;
        gap: 1em 0;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        background-color: inherit;
        visibility: hidden;
        transition-property: right, visibility;
        transition-duration: 0.7s;

        &:popover-open {
            right: 0;
            visibility: visible;

            &::backdrop {
                background-color: #000000;
                opacity: 75%;
            }
        }

        button {
            margin: 1.25em 10vw 0 auto;
        }

        :is(summary, a) {
            padding: 0.35em 2em;
            display: list-item;
            color: var(--text);
        }

        details {
            a {
                padding-left: 3em;
            }
        }
    }

    @media screen and (541px <=width) {
        padding: 1.35em 7.5vw;
        gap: 0 1.5em;

        >[href="./"] {
            font-size: 2em;
        }
        >img{
            width: 1.8em;
        }
        >details {
            width: 1.7em;
        }

        button {
            width: 1.25em;
        }

        nav[popover] {
            button {
                margin: 1.65em 7.5vw 0 auto;
            }
        }
    }

    @media screen and (1083px <=width) {
        padding: 1em 7.5vw;
        /* justify-content: space-between; */

        [href="#main"] {
            display: initial;
            position: absolute;
            top: -100%;

            &:focus {
                font-size: 1.5em;
                padding: 1em;
                top: 50vh;
                left: 50vw;
                transform: translate(-50%, -50%);
                background-color: inherit;
            }
        }

        >[href="./"] {
            font-size: 2.25em;
            /* margin-right: 0; */
        }

        button {
            display: none;
        }

        >details {
            transition: transform 0.35s;

            &:hover {
                transform: scale(110%);
            }
        }

        nav[popover] {
            all: unset;
            margin-right: 7em;

            >ul {
                display: flex;
                align-items: baseline;
            }

            :is(summary, a) {
                padding: 0.5em 0.75em;
                transition: background-color 0.35s;
                border-radius: 0.2em;

                &:hover {
                    background-color: var(--background-text-3);
                }
            }

            details {
                ul {
                    position: absolute;
                    background-color: var(--secondary-bg);

                    a {
                        padding: 0.5em 1em;
                    }
                }
            }
        }
    }
}